<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="user">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="trasactions">TRANSACTIONS HISTORY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="requests">RECEIVED REQUESTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sendmoney">SEND MONEY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sendrequest">REQUEST MONEY</a>
        </li>
      </ul>
    </div>
  </nav>