

#btn1 {
    width: fit-content;
    height: 10mm;
    margin-left: 42%;
    margin-top: 2%;
}




.container-fluid {
    backdrop-filter: blur(5px);
    margin-top: 7%;
    background-color: white;
    border-radius: 8%;
    width: 40%;
    padding: 1%;
    margin-left: 31%;
}



#hh{
    font-size: 24px;
    font-weight: bold;
}

p{
    color: red;
    margin-top: 2px;
}
