<app-navbar2></app-navbar2>

<div class="container-fluid">

    <h3 id="hh" class="text-center">PLEASE FILL THIS FORM</h3>
      
      <div class="form-group">
        <label for="by">MONEY TRANSFER METHOD</label>
        <select class="form-control" id="by" [(ngModel)] = form.by>
            <option>EMAIL</option>
            <option>NUMBER</option>
            <option>USERNAME</option>
          </select>
      </div>

      <div class="form-group">
        <label for="moneyReceiver">MONEY RECEIVER INFO</label>
        <input type="text" class="form-control" id="moneyReceiver" placeholder=""  [(ngModel)] = form.moneyReceiver>
      </div>

      <div class="form-group">
        <label for="amount">AMOUNT</label>
        <input type="number" class="form-control" id="amount" placeholder=""  [(ngModel)] = form.amount>
      </div>

      
  
      <div>
        <p style = "color: red; "  class="text-center">{{ error }}</p>
      </div>

      <button id="btn1" type="button" class="btn btn-dark" (click)="sendMoney()">SEND MONEY</button>
  
    </div>