<div class="container-fluid">

    <h3 id="hh" class="text-center">PLEASE ENTER YOUR INFO</h3>
      
      <div class="form-group">
        <label for="firstName">FIRST NAME</label>
        <input type="text" class="form-control" id="firstName" placeholder=""  [(ngModel)] = user.firstName>
      </div>

      <div class="form-group">
        <label for="lastName">LAST NAME</label>
        <input type="text" class="form-control" id="lastName" placeholder=""  [(ngModel)] = user.lastName>
      </div>

      <div class="form-group">
        <label for="username">USERNAME</label>
        <input type="text" class="form-control" id="username" placeholder=""  [(ngModel)] = user.username>
      </div>

      <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="text" class="form-control" id="email" placeholder=""  [(ngModel)] = user.email>
      </div>

      <div class="form-group">
        <label for="password">PASSWORD</label>
        <input type="text" class="form-control" id="password" placeholder=""  [(ngModel)] = user.password>
      </div>

      <div class="form-group">
        <label for="phoneNumber">PHONE NUMBER</label>
        <input type="text" class="form-control" id="phoneNumber" placeholder=""  [(ngModel)] = user.phoneNumber>
      </div>
  
      <div class="form-group">
        <label for="currentBalance">CURRENT BALANCE</label>
        <input type="number" class="form-control" id="currentBalance" placeholder="" [(ngModel)] = user.currentBalance>
      </div>
  
      <div>
        <p style = "color: red;" class="text-center">{{ error }}</p>
      </div>

      <button id="btn1" type="button" class="btn btn-dark" (click)="register()">REGISTER</button>
  
    </div>