<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="register">REGISTER</a>
          </li>
      </ul>
    </div>
  </nav>
  <h1 class="text-center">WELCOME TO REVPAY</h1>