.loginDiv{
    padding: 15px

}

input{
    margin:2px
}

div {
    backdrop-filter: blur(5px);
    margin-top: 18%;
    background-color: white;
    border-radius: 8%;
}

h3 {

    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p{
    color: red;
    margin-top: 2px;
}