<app-navbar2></app-navbar2>

<table class = "table table-bordered table-hover table-striped table-secondary">
    <thead class = table-dark>
        <tr>
            <th>SENDER</th>
            <th>AMOUNT</th>
            <th>STATUS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let request of requests" >
            <td> {{ request.requestSender }} </td>
            <td> ${{ request.amount }} </td>
            <td> {{ request.status }} </td>   
        </tr>
    </tbody>
</table>