<app-navbar2></app-navbar2>

<table class = "table table-bordered table-hover table-striped table-secondary">
    <thead class = table-dark>
        <tr>
            <th>SENDER</th>
            <th>RECEIVER</th>
            <th>TIME</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let transaction of transactions" >
            <td> {{ transaction.sender }} </td>
            <td> {{ transaction.receiver }} </td>
            <td> {{ transaction.time }} </td>
            <td> ${{ transaction.amount }} </td>
        </tr>
    </tbody>
</table>